/* STYLES LOADED BEFORE APP IS READY – For loading screens and such */
/* Using SMACCS -principle -> https://smacss.com */


/********/
/* BASE */
/********/

/* Make document height equal viewport height (if it's smaller) – needen for vertical centering */
html,
body{
  height: 100%;
  width: 100%
}

/**********/
/* LAYOUT */
/**********/

/***********/
/* MODULES */
/***********/

/*********/
/* STATE */
/*********/

.loader{
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

app:empty + .loader {
  opacity: 1;
  z-index: 100;
}

/*********/
/* THEME */
/*********/

/* Elements required for the loading animation */
.loader-logo,
.loader-pulse,
.loader-caption{

  position: absolute;
  top: 50%;

  text-align: center;

  z-index: 0;
}

.loader-logo,
.loader-pulse{

  left: 50%;

  height: 8rem;
  width: 8rem;  
  line-height: 7.5rem;

  margin-top: -4rem;
  margin-left: -4rem;

  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 3rem;

  border-radius: 50%;

  background-color: black;
  color: white;
}

.loader-caption{

  height: 2rem;
  margin-top: 6rem;
  width: 100%;
}


/****************/
/* STATE CHANGE */
/****************/

/* Animation and keyframes for the loader animation */
.anim-loader-pulse{
  animation: loader-pulse linear 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: loader-pulse linear 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: loader-pulse linear 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: loader-pulse linear 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: loader-pulse linear 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

/* Loading animation keyframes -> generator http://cssanimate.com */
@keyframes loader-pulse{
  0% {
    opacity:0.5;
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:0;
    transform:  scaleX(1.50) scaleY(1.50) ;
  }
}

@-moz-keyframes loader-pulse{
  0% {
    opacity:0.5;
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -moz-transform:  scaleX(1.50) scaleY(1.50) ;
  }
}

@-webkit-keyframes loader-pulse {
  0% {
    opacity:0.5;
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -webkit-transform:  scaleX(1.50) scaleY(1.50) ;
  }
}

@-o-keyframes loader-pulse {
  0% {
    opacity:0.5;
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -o-transform:  scaleX(1.50) scaleY(1.50) ;
  }
}

@-ms-keyframes loader-pulse {
  0% {
    opacity:0.5;
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  100% {
    opacity:0;
    -ms-transform:  scaleX(1.50) scaleY(1.50) ;
  }
}

