/* STYLES SHARED BETWEEN ALL COMPONENTS */
/* Using SMACCS -principle -> https://smacss.com */

/********/
/* BASE */
/********/

*{
  box-sizing: border-box; /* To make padding & borders count in total size of an element */
}

/* Set base font family */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}

button{
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 1px;
  background: none !important;
  box-shadow: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button[disabled]{
  opacity: 0.4;
}

/**********/
/* LAYOUT */
/**********/

main{
  margin: 0 1.5rem;
}

.container{
  max-width: 960px; /* base layout width */
  margin: auto; 
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

/***********/
/* MODULES */
/***********/

/* 
  These are mainly helper classes aimed to overwrite styles on cases which are an exception to rule
*/


.font-size-base{
  font-size: 1rem;
}

.font-size-medium{
  font-size: 1.4rem;
}

.font-size-large{
  font-size: 2.4rem;
}

.font-weight-regular{
  font-weight: 400;
}

.font-weight-bold{
  font-weight: 700;
}

.font-style-italic{
  font-style: italic;
}

.font-color-black{
  color: black;
}

.text-transform-none{
  text-transform: none;
}

.vertical-align-baseline{
  vertical-align: baseline !important;
}

.no-margin{
  margin: 0;
}

/* Remove bullets from lists */
.no-bullets{
  list-style-type: none;
  padding: 0;
}

/*********/
/* STATE */
/*********/

button:active{
  box-shadow: inherit !important; /* Use inherit to use the style in normal state */
}

/*********/
/* THEME */
/*********/

.bg-color-grey{
  background-color: #e9e9e9;
}

.bg-color-white{
  background-color: white;
}

.icon-in-circle{
  display: inline-block;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.7rem;
  line-height: 3.5rem;
  vertical-align: middle;

  background-color: black;
  color: #e9e9e9;
}

.icon-margin-left{
  margin-left: 1.5rem;
}

.box-shadow-light{
  -webkit-box-shadow: 10px 10px 46px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 46px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 46px -9px rgba(0,0,0,0.75);
}

/****************/
/* STATE CHANGE */
/****************/