/* SPECIAL STYLES FOR APP COMPONENT – Extends base styles from styles.css */
/* Using SMACCS -principle -> https://smacss.com */


/********/
/* BASE */
/********/

/**********/
/* LAYOUT */
/**********/

/***********/
/* MODULES */
/***********/

/*********/
/* STATE */
/*********/

/*********/
/* THEME */
/*********/

.product-img img{
  max-width: 200px;
}

.product{
  padding: 2rem 0;
}

.product-info{
  padding: 1rem 1rem 0 2rem;
}

.product-detail{
  padding:  1rem 0 0 0
}

/****************/
/* STATE CHANGE */
/****************/